@import './constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: $mainFont;
  color: $black;
  background-color: $white;
}

#root {
  height: 100%;
}