@import './constants.scss';

.History {
    grid-column: 5 / 9;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;

    @media screen and (min-width: $large) {
        grid-column: 4 / 10;
    }

    @media screen and (max-width: $ipadPro) {
        grid-column: 3 / 11;
    }

    @media screen and (max-width: $small) {
        grid-column: 2 / 12;
    }

    &_Date {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 0;
        margin-right: auto;
    }

    &_Btn {
        border: none;
        background-color: transparent;

        &__Logo {
            color: $purple;
            font-size: 1.1rem;
        }
    }
}

.HistoryExpanded {
    grid-column: 5 / 9;
    background-color: white;
    border-radius: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    margin: 2rem 0;

    @media screen and (max-width: $large) {
        grid-column: 4 / 10;
    }

    @media screen and (max-width: $ipadPro) {
        grid-column: 3 / 11;
    }

    @media screen and (max-width: $small) {
        grid-column: 2 / 12;
    }

    @media screen and (max-width: $smaller) {
        padding-bottom: 1rem;
    }

    &_Title {
        font-size: 3rem;
        font-family: $headerFont;
        margin: 1rem 0 0 0;

        @media screen and (max-width: $bigSmartphone) {
            font-size: 2.8rem;
          }
    }

    &_Entry {
        width: 70%;
        
        &:not(:first-child) {
            margin-top: 3.5rem;
        }

        @media screen and (max-width: $smaller) {
            width: 85%;
        }

            &__Header {
                display: flex;
                align-items: center;

                &__Logo {
                    margin-right: .8rem; 
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: $purple;
                }

                &__Q {
                    margin: 0;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            &__Answer {
                border: none;
                border-bottom: 1px solid rgba(128, 128, 128, 0.4);
                width: 100%;
                font-size: 1.7rem;
                outline: none;
                margin-top: 1rem;
            }
        
    }

    &_Btn {
        border: none;
        background-color: transparent;
        margin-top: 2rem;
        cursor: pointer;

        &__Logo {
            color: $purple;
            font-size: 1.5rem;
        }
    }
}