@import './constants.scss';

.WritingBlock {
    grid-column: 5 / 9;
    background-color: white;
    border-radius: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    margin: 2rem 0;

    @media screen and (max-width: $smaller) {
       padding-bottom: 1rem;
    }

    @media screen and (max-width: $large) {
        grid-column: 4 / 10;
    }

    @media screen and (max-width: $ipadPro) {
        grid-column: 3 / 11;
    }

    @media screen and (max-width: $small) {
        grid-column: 2 / 12;
    }

    &_Title {
        font-size: 3rem;
        font-family: $headerFont;
        margin: 1rem 0 0 0;
    }

    &_Entry {
        width: 70%;

        @media screen and (max-width: $smaller) {
            width: 85%;
        }
        
        &:not(:first-child) {
            margin-top: 3.5rem;
        }

            &__Header {
                display: flex;
                align-items: center;

                &__Logo {
                    margin-right: .8rem; 
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: $purple;
                }

                &__Q {
                    margin: 0;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            &__Input {
                border: none;
                border-bottom: 1px solid rgba(128, 128, 128, 0.4);
                width: 100%;
                font-size: 1.7rem;
                outline: none;
                margin-top: 1rem;
            }
        
    }

    &_Footer {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 70%;
        margin-top: 3.5rem;

        @media screen and (max-width: $smaller) {
            width: 85%;
        }

        &__Date {
            font-size: 1.7rem;
            outline: none;
            border: none;
            border-bottom: 1px solid rgba(128, 128, 128, 0.4);
            width: 20%;
        }

        &__Btn {
            background-color: $purple;
            border: none;
            font-size: 1.5rem;
            padding: 1rem 2.7rem;
            border: 1px solid $black;
            border-radius: 5px;
            margin: 0 0 0 auto;
            cursor: pointer;
        }
    }
}